<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is expenses detail page</h1>
    <a href="/expenses-list">go back</a>
    <h2>Id <%= expense.id %></h2>
    <h2>Name: <%= expense.name %></h2>
    <h2>age <%= expense.age %></h2>
    <h2>Height: <%= expense.height %></h2>
  </body>
</html>
